/*=============== VARIABLES CSS ===============*/

@import url("https://use.typekit.net/tkf7imz.css");


:root {
    --bg-colour: #F5F5F5;
    --pink-color: #F088FF;
    --red-color: #F53358;
    --blue-color: #5757FF;
    --green-color: #27B474;
    --black-color: #0F0F0F;

    --h1-fontsize: 60px;
    --h2-fontsize: 45px;
    --h3-fontsize: 30px;
    --h4-fontsize: 18px;
    --font-size: 16px;
    --font-family: "Area Normal Regular", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-colour);
    color: var(--black-color);
    font-size: var(--font-size);
    font-family: var(--font-family)
}

/*=============== NAVBAR ===============*/

a{
    text-decoration : none;
}

#header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 38px 100px
}
#nav_container {
    display: flex;
    list-style: none;
    position: relative;
}

#nav_container li a {
    margin: 0 2rem;
    color: var(--black-color);
    font-weight: bold;
    text-transform: uppercase;
}

.full_button_black {
    padding: 20px 30px;
    color: var(--bg-colour);
    background-color: var(--black-color);
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.full_button_white {
    padding: 20px 30px;
    color: var(--black-color);
    background-color: var(--bg-colour);
    border: 1px solid var(--black-color);
    font-weight: bold;
    text-transform: uppercase;
}

.stickers_white{
    padding: 2px 10px;
    color: var(--black-color);
    background-color: var(--bg-colour);
}

/*=============== APPOINTMENT ===============*/
.error_msg{
    color: var(--red-color);
    font-size: 14px;
    margin-bottom: 5px;
}

.input_invalid {
    border: 2px solid red !important;
}

#appointment_container{
    display: flex;
    align-items: center;
    flex-direction:column;
    gap: 20px;
    margin: 100px;
}


#appointment_container label{
    display: block;
    margin-bottom: 10px;
}
#appointment_container input[type=text],
#appointment_container input[type=email], 
#appointment_container input[type=date], 
#appointment_container textarea{
    width: 400px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 1px;
    border-radius: 0;
    border: 2px solid #000000;
}
#appointment_container textarea{
    height: 100px;
    resize: vertical;
}

#available-rdv{
    width: 400px;
    text-align: center;
}

#available-rdv label{
    display: inline-block;
    padding: 10px 20px;
    margin-right: 5px;
    border: 2px solid #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#available-rdv label:hover {
    background-color: var(--black-color);
    color: var(--bg-colour);
}

.radioSlots{
    display:none;
}

.showRadioClass {
    background-color: var(--black-color);
    color: var(--bg-colour);
}

/*=============== FOOTER ===============*/
footer {
    background-color: var(--black-color);
}


.footer_collab, .footer_social, .footer_social li a, .copyright, #footer_nav a {
    color: var(--bg-colour);
}

.footer_collab, .footer_social, .copy, #footer_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_collab{
    margin: 0 100px 100px 100px;
    padding-top: 100px;
}

hr{
    margin: 0 100px;
    margin-bottom: 
    50px;
}

.footer_social {
    margin: 25px 100px 200px 100px; 
}
.footer_social li {
    list-style: none;
    margin: 5px 0;
}
.footer_social li p {
    text-align: right;
}

.footer_social li a {
    text-transform: uppercase;
    font-size: var(--h4-fontsize);
    vertical-align: middle;
}
.footer_social li img {
    vertical-align: middle;
    margin-right: 10px;
}

#footer_nav{
    padding: 50px 100px;
}
#footer_nav p, #footer_nav a {
    font-size: 14px;
}
