{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}

    <h1>Projets</h1>
    {# Si j'ai besoin que d'un élément de la collection image:  #}
    {{ dump(project.images.1) }}
    {{project.projectName}} <br>
    {{project.projectContent}}

{% endblock %}
