{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block page_title %} Profil {{user.username}} {% endblock %}

{% block body %}
    {{ parent() }}{# Inclus le "page_title" ainsi que les propriétés du header #}
    <main class="wrapper">

    </main>
{% endblock %}

{% block javascripts %}
{% endblock %}